[submodule "PreemptRT/repo"]
	path = PreemptRT/repo
	url = https://github.com/lfd/PreemptRT.git
[submodule "busybox/repo"]
	path = busybox/repo
	url = git://git.busybox.net/busybox
[submodule "linux/repo"]
	path = linux/repo
	url = https://github.com/torvalds/linux.git
